/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
  font-family: var(--main-font), serif;
  font-size: 18px;
  line-height: 1.1;
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--first-line-gradient) 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--first-line-gradient) 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--second-line-gradient),
      var(--third-line-gradient)
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(375px, 50%, 700px);
  min-height: 368px;
  margin: 100px 0;
  padding-top: 136px;
  padding-bottom: 25px;
  outline: 2px solid var(--outline-color);
  background-color: var(--background-color);
}

.header__title {
  font-family: var(--accent-font);
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
}

.header__title-accent {
  font-size: 65px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  border: 0;
  color: inherit;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation: arrowMoving 0.5s ease-in-out infinite alternate;
}

@keyframes arrowMoving {
  from {
    translate: 0;
  }

  to {
    translate: 4px;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: color 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--main-font-color);
  transition: width 300ms, background-color 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--main-font-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article {
  width: clamp(375px, 50%, 700px);
  outline: 2px solid var(--outline-color);
  background-color: var(--background-color);
  margin-bottom: 50px;
}

.article__image {
  width: 100%;
}

.article__lable {
  position: relative;
}

.article__lable-text {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .article__lable-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.article__text {
  padding: 25px;
  color: var(--accent-color);
}

.article__title {
  padding: 3px 10px;
  color: var(--accent-color);
  font-family: var(--main-font), serif;
  font-weight: bold;
  font-size: 18px;
}

.sharing {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  margin-right: 12px;
  border: 0;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
  cursor: pointer;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.03s;
  cursor: pointer;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
  cursor: pointer;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear;
  cursor: pointer;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
  cursor: pointer;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartEffect 0.3s ease-in alternate 0.1s;
}

@keyframes heartEffect {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  fill: red;
  animation: heartEffect 0.3s ease-in alternate 0.3s;
}

@keyframes sparksEffect {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.card__like-button {
  position: relative;
  border: 2px solid var(--outline-color);
  padding: 12px 37px;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: 0.3s;
  transition-timing-function: ease;
}

.save-button::before,
.card__like-button::before,
.modal__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover);
  transition: 0.5s ease-in-out;
  transform: translate(-150%);
}

.save-button:hover::before,
.card__like-button:hover::before,
.modal__close:hover::before {
  transform: translate(0);
}

.footer-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 103px;
}

.save-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--outline-color);
  padding: 15px 19px;
  overflow: hidden;
  background-color: var(--background-color);
  cursor: pointer;
}

.save-button:focus {
  outline: none;
}

.save-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button__text {
  position: relative;
  color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.floppy-1 {
  width: 21px;
  height: 21px;
  fill: var(--button-color);
  mix-blend-mode: difference;
}

dialog::backdrop {
  opacity: 0.8;
  background-color: #1a1a1a;
  backdrop-filter: blur(1px);
}

.modal__message {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.floppy__modal {
  width: 39px;
  height: 39px;
}

.modal__title {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.modal__close {
  position: relative;
  border: 2px solid var(--outline-color);
  padding: 12px 132px;
  overflow: hidden;
  background-color: var(--background-color);
  cursor: pointer;
}

.modal__button-text {
  color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  mix-blend-mode: difference;
  mix-blend-mode: difference;
}

.modal__close:focus {
  outline: none;
}

.modal__close:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

#dialog-id {
  padding: 30px;
  background-color: var(--background-color);
}

@media (width <= 375px) {
  .article {
    width: 100%;
  }

  .header__title {
    font-size: 14px;
  }

  .header__title-accent {
    font-size: 49px;
  }

  .save-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 18px;
  }
}
