:root {
 --main-font: "Inter", sans-serif;
 --accent-font: "PressStart2P", fantasy;
 --card-text-width: 400;
 --card-title-width: 700;
 --background-color: #fff;
 --accent-color: #000;
 --first-line-gradient: #d3d3d3;
 --second-line-gradient: #e7e7e7;
 --third-line-gradient: #1a1a1a;
 --outline-color: #000;
 --main-font-color: #000;
 --button-color: #fff;
 --button-hover: #000;
 --contour-color: #000;
 --sparks-color: transparent;
 --heart-color: #FF0000;
}

/* Обращаю внимание, что по умолчанию прописаны свойства СВЕТЛОЙ темы. Как и было изначально. */